<?xml version="1.0"?>
<robot name="gripper">
    <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
    </material>
    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>
    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <link name="world"/>
    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 1.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.118 0.032 0.071"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 1.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.118 0.032 0.071"/>
            </geometry>
            <material name="white"/>
        </collision>
    </link>

    <joint name="base_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>
</robot>